
<footer class="footer">
    <section class="tienda">
        <h2 class="tienda__titulo"> Tienda</h2>
        <ul class="tienda__lista">
            <li>Productos</li>
            <li>Cajoneras</li>
            <li>Para toda la casa</li>
            <li>Habitaciones</li>
        </ul>
    </section>
    <section class="tienda">
        <h2 class="tienda__titulo"> Nosotros</h2>
        <ul class="tienda__lista">
            <li>Nuestra guía</li>
            <li>Nuestro diseño</li>
            <li>Nuestra historia</li>
            <li>Ayuda</li>
        </ul>
    </section>
    <section class="tienda">
        <h2 class="tienda__titulo"> Contacto</h2>
            <ul class="tienda__lista">
                <li> ayuda@openspaces.com</li>
                <li> Socios</li>
            </ul>
    </section>
    <section class="redes">
            <ul class="redes__lista">
                <li class="linkedin"><a href="" target="_blank"> <i class="fa-brands fa-instagram-square"></i><a></li>
                <li class="instagram"> <a href=""></a> </li>
                <li class="twitter"> <a href=""></a> </li>
                <li>
                    <a href="" target="_blank"><i class="fa-brands fa-instagram-square"></i></a>
                  </li>
            </ul>
            <a href=""></a>
    </section>

</footer>