<header id="header">
    <nav class="menu">
        <img src="./assets/images/hamburguesa.svg" alt="Icono Menu" class="menu__icono">
        <div class="imgheader">
        <img src="./assets/images/logo.png" alt="logo" class="menu__logo">
        </div>     
    </nav>
      <div class="intro"> 
           <img src="./assets/images/header.jpg" alt="imagen header" class="header__imgheader">
        </div>
    <div class="header__elemnts">
          <h2 class="header__title"> Disfruta creando espacios</h2>
         <button class="header__button"> Comprar Ahora </button>
    </div>
   
</header>
