<main>
    <section class="main">
        <h1 class="main__title"> Volverse organizado se siente mejor con <span class="mayuscula"> open spaces </span></h1>
        <article class="section">
            <img src="./assets/images/icon_1.png" alt="icono" class="section__icono" >
            <h2 class="section__title"> Lo que necesitas</h2>
            <p class= "section__parrafo"> Una linea de productos diseñados para todos tus espacios</p>
        </article>
        <article class="section"> 
            <img src="./assets/images/icon_2.png" alt="icono" class="section__icono">
            <h2 class="section__title">Materias primas sustentables</h2>
            <p class="section__parrafo">Todos los productos con materias  primas sustentables</p>
        </article>
        <article class="section">
            <img src="./assets/images/icon_3.png" alt="icono" class="section__icono">
            <h2 class="section__title"> Guía</h2>
            <p class="section__parrafo">Soporte y asesoramiento para ayudarte con tu objetivo</p>
        </article>
        
    </section>
</main>