// fonts
$font-family-semi: 'Poppins', sans-serif;
$font-family-regular:'Poppins', sans-serif;

// colors
$color-letter: #0c474b;
$color-envio: #ff975a;
$color-white: #ffffff;
$color-letter-footer:#b6c8c9;


