
.footer{
    background-color: $color-letter;
    color: $color-letter-footer;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 56px;
    @media all and (min-width:900px){
        flex-direction: row;
        justify-content: space-around;
        @media all and (min-width:900px){ padding-left: 100px;
    @media all and (min-width:1728px){
        height: 250px;
            }
        }

    }
}
.tienda{
   padding-bottom: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}
.tienda__titulo{
    font-size: 20px;
    font-family: $font-family-semi;
    margin-bottom: 10px;
    @media all and (min-width:1728px){
        font-size: 24px;
    }
    

}
.tienda__lista{
    text-decoration: none;
    font-size: 14px;
    font-family: $font-family-regular;
    line-height: 22px;
    @media all and (min-width:1728px){
        font-size: 16px;
        
    }
}
.nosotros{
        text-decoration: none;
    }
.productos{
        text-decoration: none;
        color: $color-letter-footer;

    }
    .contacto{
        width: 124px;
        @media all and (min-width:900px){
            transform: translateY(-30px);
        }
    }


.redes{
  color: white;
  font-size: 20px;
  margin-top: 25px;
  @media all and (min-width:900px){
      margin-top: 5px;
      
  }
}

.redes__lista{
    display: flex;
    
    gap: 15px;
    @media all and (min-width:900px){ 
        transform: translateX(-60px)
        ;
        transform: translateY(20px);
    bottom: 10px;
    }
}
.arrow{
    width: 100%;
    left: 100px;
}

.flecha{
    position: relative;
    left: 150px;
    bottom: 10px;
    padding: 15px;
    color: white;
    font-size: 18px;
    @media all and (min-width:900px){ left: 20px;
      bottom: 0;
      transform: translateY(30px);

      }

    }

    


    
  






    



