
.footer{
    background-color: $color-letter;
    color: $color-letter-footer;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 56px;
}
.tienda{
   padding-bottom: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
  
}

.tienda__titulo{
    font-size: 20px;
    font-family: $font-family-semi;
    margin-bottom: 10px;
    

}
.tienda__lista{
    text-decoration: none;
    font-size: 14px;
    font-family: $font-family-regular;
    line-height: 22px;
}
    .nosotros{
        text-decoration: none;
    }
    .productos{
        text-decoration: none;
        color: $color-letter-footer;

    }
    .contacto{
        
        text-align: center;
        
    }
.redes{
  color: white;
  font-size: 20px;
  margin-top: 25px;

}
.redes__lista{
    display: flex;
    justify-content: center;
    gap: 15px;
    
}


.flecha{
    color: white;
    font-size: 18px;
    margin-top: 20px;
    transform: translateX(250px);
   
    
}
.icon-flecha{
    
    color: white;
}





    



